.func_select_btn{
    min-width: 300px;
    min-height: 50px;
    text-align: left;
    padding-left: 50px;
    margin-bottom: 5px;
}

.func_select{
    border-right: 2px solid;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    float:left;
    overflow-y: scroll;
    position: relative;
}

.func_show{
    min-height: 100%;
    min-width: 50%;
    padding-left: 20px;
    overflow: hidden;
    flex-grow: 1;
}
h1{
    text-align: center;
}

.minimize_btn{
    width: 50px;
    float: right;
    position: fixed;
    top: 5px;
}
